.container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: xx-large;
}

.input {
	display: grid;
	grid-template-rows: repeat(1, 2em);
	grid-template-columns: repeat(3, 20em);
	column-gap: 5px;
}

.book-input {
	margin-bottom: 10px;
}

.style-input {
	grid-row: 2/4;
	padding: 2px 2px;
	border: 1px solid black;
	border-radius: 5px;
}

.style-author {
	grid-row: 2/4;
	padding: 2px 2px;
	border: 1px solid black;
	border-radius: 5px;
}

#status {
	width: 50%;
	grid-row: 2/4;
	grid-column: 3/4;
	padding: 2px 2px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #f7f5f5;
}

.headers {
	display: grid;
	grid-template-rows: repeat(1, 2em);
	grid-template-columns: repeat(3, 20em);
	margin-top: 20px;
	padding: 0;
}

.title {
	text-align: left;
}

.author {
	text-align: center;
}

.status {
	text-align: right;
}
